BodegaBA-CSharp/BuenosAires.BodegaBA/Connected Services/WsAnwoReference/WsAnwo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="WsAnwo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50397/WsAnwo.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50397/WsAnwo.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50397/WsAnwo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BuenosAires.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWsAnwo_Consultar_productos_disponibles_InputMessage">
    <wsdl:part name="parameters" element="tns:Consultar_productos_disponibles" />
  </wsdl:message>
  <wsdl:message name="IWsAnwo_Consultar_productos_disponibles_OutputMessage">
    <wsdl:part name="parameters" element="tns:Consultar_productos_disponiblesResponse" />
  </wsdl:message>
  <wsdl:message name="IWsAnwo_reservar_equipo_anwo_InputMessage">
    <wsdl:part name="parameters" element="tns:reservar_equipo_anwo" />
  </wsdl:message>
  <wsdl:message name="IWsAnwo_reservar_equipo_anwo_OutputMessage">
    <wsdl:part name="parameters" element="tns:reservar_equipo_anwoResponse" />
  </wsdl:message>
  <wsdl:portType name="IWsAnwo">
    <wsdl:operation name="Consultar_productos_disponibles">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsAnwo/Consultar_productos_disponibles" message="tns:IWsAnwo_Consultar_productos_disponibles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsAnwo/Consultar_productos_disponiblesResponse" message="tns:IWsAnwo_Consultar_productos_disponibles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="reservar_equipo_anwo">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsAnwo/reservar_equipo_anwo" message="tns:IWsAnwo_reservar_equipo_anwo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsAnwo/reservar_equipo_anwoResponse" message="tns:IWsAnwo_reservar_equipo_anwo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWsAnwo" type="tns:IWsAnwo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Consultar_productos_disponibles">
      <soap:operation soapAction="http://tempuri.org/IWsAnwo/Consultar_productos_disponibles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reservar_equipo_anwo">
      <soap:operation soapAction="http://tempuri.org/IWsAnwo/reservar_equipo_anwo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsAnwo">
    <wsdl:port name="BasicHttpBinding_IWsAnwo" binding="tns:BasicHttpBinding_IWsAnwo">
      <soap:address location="http://localhost:50397/WsAnwo.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>