BodegaBA-CSharp/BuenosAires.BodegaBA/Connected Services/WsAnwoReference/WsAnwo2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50397/WsAnwo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BuenosAires.Model" />
  <xs:import schemaLocation="http://localhost:50397/WsAnwo.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="Consultar_productos_disponibles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Consultar_productos_disponiblesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BuenosAires.Model" minOccurs="0" name="Consultar_productos_disponiblesResult" nillable="true" type="q1:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reservar_equipo_anwo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nroserieanwo" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="charReservado" type="q2:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reservar_equipo_anwoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BuenosAires.Model" minOccurs="0" name="reservar_equipo_anwoResult" nillable="true" type="q3:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>